<div class="modal fade" id="farm_detail_edit" tabindex="-1" role="dialog" aria-labelledby="farm_detail_edit-CenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="farm_detail_edit_title">Farm Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="detail-modal">
                    <input type="hidden" id="farm-detail-propertynumber">
                    <div class="form-group">
                        <select id="farm-detail-status" class="selectpicker" data-style="btn btn-primary btn-block" title="Status" data-size="5">
                            <option value="Not Contacted">Not Contacted</option>
                            <option value="Not Home">Not Home</option>
                            <option value="Not Interested">Not Interested</option>
                            <option value="On Market">On Market</option>
                            <option value="Prospect">Prospect</option>
                            <option value="Lead">Lead</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <!--contact info-->
                        <label class="control-label" for="farm-detail-address">Address:</label><input type="text" id="farm-detail-address" class="form-control">
                        <label class="control-label" for="farm-detail-apn">Apn:</label><input type="text" id="farm-detail-apn" class="form-control">
                        <label class="control-label" for="farm-detail-ownername">Owner:</label><input type="text" id="farm-detail-ownername" class="form-control">
                        <label class="control-label" for="farm-detail-ownername2">Owner:</label><input type="text" id="farm-detail-ownername2" class="form-control">
                        <label class="control-label" for="farm-detail-mail">Mail:</label><input type="text" id="farm-detail-mail" class="form-control">
                        <label class="control-label" for="farm-detail-phone">Phone:</label><input type="text" id="farm-detail-phone" class="form-control">
                        <label class="control-label" for="farm-detail-email">Email:</label><input type="text" id="farm-detail-email" class="form-control">
                        <label class="control-label" for="farm-detail-notes">Notes:</label>

                        <!--property detail-->
                        <label class="control-label" for="farm-detail-bedrooms">Beds:</label><input type="text" id="farm-detail-bedrooms" class="form-control">
                        <label class="control-label" for="farm-detail-bathrooms">Baths:</label><input type="text" id="farm-detail-bathrooms" class="form-control">
                        <label class="control-label" for="farm-detail-buildingsqft">Sqft:</label><input type="text" id="farm-detail-buildingsqft" class="form-control">
                        <label class="control-label" for="farm-detail-lotarea">Lot Area:</label><input type="text" id="farm-detail-lotarea" class="form-control">
                        <label class="control-label" for="farm-detail-pool">Pool:</label><input type="text" id="farm-detail-pool" class="form-control">
                        <label class="control-label" for="farm-detail-yearbuilt">Year Built:</label><input type="text" id="farm-detail-yearbuilt" class="form-control">

                        <!--sale detail-->
                        <label class="control-label" for="farm-detail-saleprice">Sale Price:</label><input type="text" id="farm-detail-saleprice" class="form-control">
                        <label class="control-label" for="farm-detail-saledate">Sale Date:</label><input type="text" id="farm-detail-saledate" class="form-control">
                        <label class="control-label" for="farm-detail-docnumber">Sale Doc:</label><input type="text" id="farm-detail-docnumber" class="form-control">
                        <label class="control-label" for="farm-detail-assessedland">Building Value:</label><input type="text" id="farm-detail-assessedland" class="form-control">
                        <label class="control-label" for="farm-detail-assessedbuilding">Land Value:</label><input type="text" id="farm-detail-assessedbuilding" class="form-control">
                        <label class="control-label" for="farm-detail-zoning">Zoning:</label><input type="text" id="farm-detail-zoning" class="form-control">
                        <label class="control-label" for="farm-detail-usecode">Use Code:</label><input type="text" id="farm-detail-usecode" class="form-control">

                        <textarea class="form-control" id="farm-detail-notes"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="bt_modal_detail_save">Save changes</button>
            </div>
        </div>
    </div>
</div>