<div class="sidebar" data-background-color="brown" data-active-color="danger">
    <div class="logo">
        <a href="http://redshedtechnology.com" class="logo-normal pull-left">
            <img src="/img/red_shed_logo.png">
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="active">
                <a data-toggle="collapse" href="#tablesExamples">
                    <i class="ti-view-list-alt"></i>
                    <p>
                        PropertyForce Farms
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse in" id="tablesExamples">
                    <ul class="nav">
                        <li>
                            <a href="/main/farm">
                                <span class="sidebar-mini">NF</span>
                                <span class="sidebar-normal">New Farm</span>
                            </a>
                        </li>
                        <li>
                            <a href="/main/savedfarms">
                                <span class="sidebar-mini">SF</span>
                                <span class="sidebar-normal">Saved Farms</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <ul class="nav">
            <li>
                <div>
                    <ul class="nav">
                        <li>
                            <a href="/logout">
                                <span class="sidebar-normal">Logout</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>