<div class="wrapper">
    {{>sidebar}}
    <div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#">{{title}}</a>
                </div>
            </div>
        </nav>
        <div class="content">
            <div class="container-fluid">
                <!-- MAP -->
                <div class="row">
                    <div class="col-md-12">

                        <div class="card card-map">

                            <div class="card-header row">

                                <div class="col-md-8">
                                    <input type="text" id="text_autocomplete" class="form-control" style="width: 100%">
                                </div>
                                <div class="col-md-4">
                                    <button class="btn btn-wd btn-primary btn-fill btn-move-right" id="bt_draw_farm"
                                            type="button">Draw Farm<i class="ti-home"
                                                                      style="margin-top: -4px; margin-left: 5px;"></i>
                                    </button>
                                </div>

                            </div>

                            <div class="card-content">
                                <div id="map-canvas" class="map map-big" style="position: relative; overflow: hidden;">
                                    <div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);">
                                        <div class="gm-err-container">
                                            <div class="gm-err-content">
                                                <div class="gm-err-icon"><img
                                                        src="https://maps.gstatic.com/mapfiles/api-3/images/icon_error.png"
                                                        draggable="false" style="user-select: none;"></div>
                                                <div class="gm-err-title">Oops! Something went wrong.</div>
                                                <div class="gm-err-message">This page didn't load Google Maps correctly.
                                                    See the JavaScript console for technical details.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="footer container">
                                <form name="farm_filters" id="farm_filters">
                                <div class="row" style="padding-bottom: 8px">
                                    <div class="col-md-2">
                                        <button id="run_farm" type="button"
                                                class="btn btn-wd btn-primary btn-fill btn-magnify">
                                    <span class="btn-label">
                                        <i class="ti-search"></i>
                                    </span>
                                            Run Farm
                                        </button>
                                    </div>
                                </div>
                                <!--bedrooms-->
                                <div class="row">
                                    <div class="col-md-3">
                                        <select id="farm_filter_bedrooms_min" class="selectpicker" data-style="btn btn-primary btn-block" title="Bedrooms Min" data-size="5">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <select id="farm_filter_bedrooms_max" class="selectpicker" data-style="btn btn-primary btn-block" title="Bedrooms Max" data-size="9">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                        </select>
                                    </div>
                                </div>
                                <!--baths-->
                                <div class="row">
                                    <div class="col-md-3">
                                        <select id="farm_filter_baths_min" class="selectpicker" data-style="btn btn-primary btn-block" title="Baths Min" data-size="4">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4+</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <select id="farm_filter_baths_max" class="selectpicker" data-style="btn btn-primary btn-block" title="Baths Max" data-size="9">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                        </select>
                                    </div>
                                </div>
                                <!--sale date-->
                                <div class="row">
                                    <div class="col-md-3">
                                        <input id="farm_filter_from_sale_date" type="text" class="form-control datepicker" placeholder="From Sale Date">
                                    </div>
                                    <div class="col-md-3">
                                        <input id="farm_filter_to_sale_date" type="text" class="form-control datepicker" placeholder="To Sale Date">
                                    </div>
                                </div>
                                <!--owner occ / use codes-->
                                <div class="row" style="margin-top: 5px;">
                                    <div class="col-md-3">
                                        <label for="farm_filter_owner_occupied" style="color: #7A9E9F;">Owner Occupied</label><input id="farm_filter_owner_occupied" data-off-text="No" data-on-text="Yes" type="checkbox" class="switch pull-right"/>
                                    </div>
                                    <div class="col-md-3">
                                        <select id="farm_filter_use_codes" multiple title="Use Codes" class="selectpicker" data-style="btn-primary btn-block" data-size="13">
                                            <option value="Single Family Residential">Single Family Residential</option>
                                            <option value="Residential Vacant Land">Residential Vacant Land</option>
                                            <option value="Condominium Unit">Condominium Unit</option>
                                            <option value="Mobile/Manufactured Home">Mobile/Manufactured Home</option>
                                            <option value="Townhouse/Rowhouse">Townhouse/Rowhouse</option>
                                            <option value="Duplex">Duplex</option>
                                            <option value="Triplex">Triplex</option>
                                            <option value="Fourplex">Fourplex</option>
                                            <option value="MultiFamily">MultiFamily</option>
                                            <option value="Seasonal, Vacation Residence">Seasonal, Vacation Residence</option>
                                            <option value="Zero Lot Line">Zero Lot Line</option>
                                            <option value="Patio Home">Patio Home</option>
                                            <option value="Cooperative">Cooperative</option>
                                        </select>
                                    </div>
                                </div>
                                </form>
                                <div class="row" style="padding-bottom: 8px">
                                    <div class="col-md-2">
                                        <button id="bt_save_farm" type="button"
                                                class="btn btn-wd btn-primary btn-fill btn-magnify">
                                    <span class="btn-label">
                                        <i class="ti-save"></i>
                                    </span>
                                            Save Farm
                                        </button>
                                    </div>

                                    <div class="col-md-5">
                                        <input type="text" id="farm_name" class="form-control" placeholder="Farm Name">
                                    </div>
                                </div>
                                <div class="row">
                                    <textarea id="shapeinfo" class="form-control hidden" rows="3"></textarea></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- DATA -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="toolbar">
                                    <!--Here you can write extra buttons/actions for the toolbar-->
                                </div>
                                <div class="fresh-resultsTable">
                                    <table id="resultsTable" class="table table-striped table-no-bordered table-hover"
                                           cellspacing="0" width="100%" style="width:100%">
                                        <thead>
                                        <tr>
                                            <th>APN</th>
                                            <th>Address</th>
                                            <th>Name</th>
                                            <th>Beds</th>
                                            <th>Baths</th>
                                            <th>Land Val</th>
                                            <th>Imp Val</th>
                                            <th>Owner Occ.</th>
                                        </tr>
                                        </thead>
                                        <tfoot>
                                        </tfoot>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>


                            </div>
                        </div><!--  end card  -->
                    </div> <!-- end col-md-12 -->
                </div> <!-- end row -->
            </div>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <div class="copyright pull-left">
                    Red Shed Rocks! - version {{version}}
                </div>
            </div>
        </footer>

    </div>
</div>
</div>
<!--  Google Maps  -->
<script src="/js/farm-map-utils.js"></script>
<script>
    var initMapCallback = function () {
        farmMapUtils.setupMap('map-canvas', 'text_autocomplete', 'shapeinfo', '#bt_reset_farm_drawing_polygon');
    }
</script>
<script
        async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCS0jfUye6zbySY5CwI4tMC0oLdMZ0U5CQ&libraries=places,drawing&callback=initMapCallback">
</script>

<script src="/js/farm-data-utils.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        console.log("ready");

        // $('#run_farm_bk')
        //         .click(function() {
        //             console.log('run bk search');
        //             let shape_text = $('#shapeinfo').val();
        //             console.log(shape_text);
        //             let shape_points = JSON.parse(shape_text);
        //             //farmDataUtils.loadDataPFData('#run_farm_bk', '#resultsTable', {Shape: {points: farmMapUtils.lastShapePoints}}, 'bk', $('#export_to_csv').is(":checked") );
        //             farmDataUtils.loadDataPFData('#run_farm_bk', '#resultsTable', {Shape: {points: shape_points}, Options:{"TaxData":true}}, 'bk', $('#export_to_csv').is(":checked") );
        //         });
        $('#run_farm')
                .click(function () {
                    console.log('run farm search');
                    let shape_text = $('#shapeinfo').val();
                    console.log(shape_text);
                    let shape_points = JSON.parse(shape_text);
                    let filters = {
                        BedroomsMin: '',
                        BedroomsMax: '',
                        BathroomsMin: '',
                        BathroomsMax: '',
                        OwnerOccupied: '',
                        UseCodes: ''
                    };
                    filters.BedroomsMin = $('#farm_filter_bedrooms_min').val();
                    filters.BedroomsMax = $('#farm_filter_bedrooms_max').val();

                    farmDataUtils.loadDataPFData('#run_farm', '#resultsTable', {
                        Shape: {points: shape_points},
                        Filters: filters,
                        Options: {"TaxData": true}
                    }, 'datatree', $('#export_to_csv').is(":checked"));
                });

        $('#resultsTable').DataTable({
            "pagingType": "full_numbers",
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            responsive: true,
            language: {
                search: "_INPUT_",
                searchPlaceholder: "Search records",
            }
        });

        $('.datepicker').datetimepicker({
            format: 'MM/DD/YYYY',    //use this format if you want the 12hours timpiecker with AM/PM toggle
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-chevron-up",
                down: "fa fa-chevron-down",
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-screenshot',
                clear: 'fa fa-trash',
                close: 'fa fa-remove'
            }
        });

        $('.switch').bootstrapSwitch({
            onColor: 'primary'
        });

        $('.bootstrap-switch').addClass("pull-right");


        <!-- Bootstrap Select Picker -->
        if($(".selectpicker").length != 0){
            $(".selectpicker").selectpicker();
        }
    });
</script>