<nav class="navbar navbar-transparent navbar-absolute">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">PropertyForce Farm</a>
        </div>
        <!--<div class="collapse navbar-collapse">-->
            <!--<ul class="nav navbar-nav navbar-right">-->
                <!--<li>-->
                    <!--<a href="register.html">-->
                        <!--Register-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="../dashboard/overview.html">-->
                        <!--Dashboard-->
                    <!--</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    </div>
</nav>

<div class="wrapper wrapper-full-page">
    <div class="full-page login-page" data-color="" data-image="../../assets/img/background/background-2.jpg">
        <!--   you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple" -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">

                            <div class="card" data-background="color" data-color="blue">
                                <div class="card-header">
                                    <h3 class="card-title">Login</h3>
                                </div>
                                <div class="card-content">
                                    <div class="form-group">
                                        <label>Username</label>
                                        <input type="text" id="username" name="username" placeholder="Username" class="form-control input-no-border">
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="text" id="password" name="password" placeholder="Password" class="form-control input-no-border">
                                    </div>
                                    <!--<div class="form-group">-->
                                        <!--<label>Rep Code</label>-->
                                        <!--<input type="text" id="repcode" name="repcode" placeholder="Rep Code" class="form-control input-no-border">-->
                                    <!--</div>-->
                                    <!--<div class="form-group">-->
                                        <!--<label>Email address</label>-->
                                        <!--<input type="email" id="email" name="email" placeholder="Email" class="form-control input-no-border">-->
                                    <!--</div>-->
                                </div>
                                <div class="card-footer text-center">
                                    <input class="btn btn-fill" id="login_button" type="submit" value="Let's Go">
                                    <!--<div class="forgot">-->
                                        <!--<a href="#pablo">Forgot your password?</a>-->
                                    <!--</div>-->
                                </div>
                            </div>

                    </div>
                </div>
            </div>
        </div>

        <footer class="footer footer-transparent">
            <div class="container">
                <!--<div class="copyright">-->
                    <!--&copy; <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by <a href="http://www.creative-tim.com">Creative Tim</a>-->
                <!--</div>-->
            </div>
        </footer>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        console.log("ready");
    });
    $('login_form').submit(function(e){
        e.preventDefault();
    });
    $('#login_button')
            .click(function (e) {
                e.preventDefault();
                let username = $("#username").val();
                let password = $("#password").val();
                console.log("login click");
                $.post(
                    '/auth/cognito/',
                    { username: username, password: password }
                );
                return false;
                // $.post("/login", {username: email, password: password}, function (data) {
                //     //hangle error I guess?
                // });
    });

</script>