<div class="wrapper">
    {{>sidebar}}
    <div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#">{{title}}</a>
                </div>
            </div>
        </nav>
        <div class="content">
            <div class="container-fluid">
                <!-- DATA -->
                <div class="row">
                    <div class="col-md-12">

                        <div class="card">
                            <div class="card-content">
                                <div class="toolbar">
                                    <!--Here you can write extra buttons/actions for the toolbar-->
                                    {{objectId}}
                                </div>
                                <div class="fresh-resultsTable">
                                    <table id="farmList" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                        <thead>
                                        <tr>
                                            <th>Address</th>
                                            <th>Owner</th>
                                            <th>Owner Occ.</th>
                                            <th>Value</th>
                                            <th>Beds</th>
                                            <th>Baths</th>
                                            <th>Sale Date</th>
                                            <th>Notes</th>
                                        </tr>
                                        </thead>
                                        <tfoot>
                                        </tfoot>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div><!--  end card  -->
                    </div> <!-- end col-md-12 -->
                </div> <!
            </div> <!-- end row -->
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <div class="copyright pull-left">
                    Red Shed Rocks! - version {{version}}
                </div>
            </div>
        </footer>

    </div>
</div>
</div>
<script src="/js/farm-user-data.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        console.log("ready");

        farmUserData.loadFarmDetail({{objectId}});

        $('#resultsTable').DataTable({
            "pagingType": "full_numbers",
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            responsive: true,
            language: {
                search: "_INPUT_",
                searchPlaceholder: "Search records",
            }
        });


    });
</script>