<div class="wrapper">
    {{>sidebar}}
    <div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="/main/savedfarms" id="page_title">{{title}}&nbsp;<span id="page_title_detail"></span></a>
                </div>
            </div>
        </nav>
        <div class="content">
            <div class="container-fluid">
                <!-- LIST -->
                <div class="spinner" style="display: none;"></div>
                <div class="row" id="farm_list_display_row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="toolbar">
                                    <!--Here you can write extra buttons/actions for the toolbar-->
                                </div>
                                <div class="fresh-resultsTable">
                                    <table id="farmList" class="table table-hover table-striped table-no-bordered" cellspacing="0" width="100%" style="width:100%">
                                        <thead>
                                        <tr>
                                            <th class="hidden">objectId</th>
                                            <th>Name</th>
                                            <th>Last Updated</th>
                                            <th>Properties</th>
                                            <th>Turnover</th>
                                        </tr>
                                        </thead>
                                        <tfoot>
                                        </tfoot>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div><!--  end card  -->
                    </div> <!-- end col-md-12 -->
                </div>
                <!-- END LIST -->
                <!-- SUMMARY -->
                <div class="row" id="farm_summary" style="display: none;">

                        <div class="card col-md-6" id="yr_snapshot">
                            <div class="card-header text-center">
                                12 Month Area History
                            </div>
                            <div class="card-content">
                                <ul>
                                    <li>Median Sales Price: <span id="snapshot_median_sales"></span></li>
                                    <li>Max Sale Price: <span id="snapshot_max_sale"></span></li>
                                    <li>Min Sale Price: <span id="snapshot_min_sale"></span></li>
                                    <li>Turnover: <span id="snapshot_turnover"></span></li>
                                    <li>Number of Sales: <span id="snapshot_number_of_sales"></span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card col-md-6" id="nbr_snapshot">
                            <div class="card-header text-center">
                                Neighborhood Snapshot
                            </div>
                            <div class="card-content">
                                <ul>
                                    <li>Median # of Bedrooms: <span id="snapshot_median_beds"></span></li>
                                    <li>Median # of Bathrooms: <span id="snapshot_median_baths"></span></li>
                                    <li># of Owner Occupied Houses: <span id="snapshot_num_owner_occ"></span></li>
                                </ul>
                            </div>
                        </div>
                </div>
                <!-- END SUMMARY-->
                <!-- MAP -->
                <div class="row">
                    <div class="card-content" id="farm_detail_map" style="display: none;">
                        <div id="map-canvas" class="map map-big" style="position: relative; overflow: hidden;">
                            <div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);">
                                <div class="gm-err-container">
                                    <div class="gm-err-content">
                                        <div class="gm-err-icon"><img
                                                src="https://maps.gstatic.com/mapfiles/api-3/images/icon_error.png"
                                                draggable="false" style="user-select: none;"></div>
                                        <div class="gm-err-title">Oops! Something went wrong.</div>
                                        <div class="gm-err-message">This page didn't load Google Maps correctly.
                                            See the JavaScript console for technical details.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END MAP-->
                <!-- DETAIL -->
                <div class="row" id="farm_detail_display_row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="toolbar">
                                    <!--Here you can write extra buttons/actions for the toolbar-->
                                </div>
                                <div class="fresh-resultsTable">
                                    <table id="farmDetail" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%; display: none;">
                                        <thead>
                                        <tr>
                                            <th>propId</th>
                                            <th>Address</th>
                                            <th>Owner</th>
                                            <th>Status</th>
                                            <th>Email</th>
                                            <th>Phone</th>
                                            <th>Owner Occ.</th>
                                            <th>Value</th>
                                            <th>Beds</th>
                                            <th>Baths</th>
                                            <th>Sale Date</th>
                                        </tr>
                                        </thead>
                                        <tfoot>
                                        </tfoot>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div><!--  end card  -->
                    </div> <!-- end col-md-12 -->
                </div>
                <!-- END DETAIL -->
            </div> <!-- end row -->
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <div class="copyright pull-left">
                    Red Shed Rocks! - version {{version}}
                </div>
            </div>
        </footer>

    </div>
</div>
{{>farmdetailmodal}}
</div>
<!--  Google Maps  -->
<script src="/js/farm-map-utils.js"></script>
<script>
    var initMapCallback = function () {
        var map = farmMapUtils.setupMapSimple('map-canvas');
        farmUserData.currentMap = map;
    }
</script>
<script
        async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCS0jfUye6zbySY5CwI4tMC0oLdMZ0U5CQ&libraries=places,drawing&callback=initMapCallback">
</script>

<script src="/js/farm-user-data.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        console.log("ready");

        let fl = $('#farmList');
        let dt = fl.DataTable({
            "pagingType": "full_numbers",
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            responsive: true,
            language: {
                search: "_INPUT_",
                searchPlaceholder: "Search records",
            },
        });

        farmUserData.loadFarms("", "#farmList");

        <!-- Bootstrap Select Picker -->
        if($(".selectpicker").length != 0){
            $(".selectpicker").selectpicker();
        }
    });
</script>